<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.dao.mapper.RoleMapper">

    <sql id="roleBaseColumnSql">
        RoleId,
        RoleName,
        RoleDescribe
    </sql>

    <sql id="roleBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="map.roleId!=null">
                    RoleId = #{map.roleId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleName)">
                    AND RoleName = #{map.roleName}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleDescribe)">
                    AND RoleDescribe = #{map.roleDescribe}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertRole" parameterType="com.hzit.dao.entity.Role">
        INSERT INTO role(
        <include refid="roleBaseColumnSql"/>
        )VALUES(
            #{roleId},
            #{roleName},
            #{roleDescribe}
        )
    </insert>

    
    <delete id="deleteRoleByRoleId" parameterType="Integer">
        DELETE FROM role WHERE RoleId = #{roleId}
    </delete>

    <update id="updateRole" parameterType="com.hzit.dao.entity.Role">
        UPDATE role
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roleName)">
                RoleName = #{roleName} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roleDescribe)">
                RoleDescribe = #{roleDescribe} ,
            </if>
        </set>
        WHERE RoleId = #{roleId}
    </update>

    <select id="searchRoleByParams" parameterType="map" resultMap="roleMap">
        SELECT
        <include refid="roleBaseColumnSql"/>
        FROM role
        <include refid="roleBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.dao.entity.Role" id="roleMap">
        <id column="RoleId" property="roleId"/>
        <result column="RoleName" property="roleName"/>
        <result column="RoleDescribe" property="roleDescribe"/>
    </resultMap>

</mapper>
