<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.dao.mapper.UserMapper">

    <sql id="userBaseColumnSql">
        UserId,
        UserName,
        Password,
        isdelete,
        RoleId
    </sql>

    <sql id="userBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.userId)">
                    UserId = #{map.userId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.userName)">
                    AND UserName = #{map.userName}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.password)">
                    AND Password = #{map.password}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.isdelete)">
                    AND isdelete = #{map.isdelete}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleId)">
                    AND RoleId = #{map.roleId}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertUser" parameterType="com.hzit.dao.entity.User">
        INSERT INTO user(
        <include refid="userBaseColumnSql"/>
        )VALUES(
            #{userId},
            #{userName},
            #{password},
            #{isdelete},
            #{roleId}
        )
    </insert>

    
    <delete id="deleteUserByUserId" parameterType="Integer">
        DELETE FROM user WHERE UserId = #{userId}
    </delete>

    <update id="updateUser" parameterType="com.hzit.dao.entity.User">
        UPDATE user
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(userName)">
                UserName = #{userName} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(password)">
                Password = #{password} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(isdelete)">
                isdelete = #{isdelete} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roleId)">
                RoleId = #{roleId} ,
            </if>
        </set>
        WHERE UserId = #{userId}
    </update>

    <select id="searchUserByParams" parameterType="map" resultMap="userMap">
        SELECT
        <include refid="userBaseColumnSql"/>
        FROM user
        <include refid="userBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.dao.entity.User" id="userMap">
        <id column="UserId" property="userId"/>
        <result column="UserName" property="userName"/>
        <result column="Password" property="password"/>
        <result column="isdelete" property="isdelete"/>
        <result column="RoleId" property="roleId"/>
    </resultMap>

</mapper>
